body, div, p, a, h1, h2, h3, span, input, textarea label{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Montserrat', "Segoe UI", Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif!important;
    /*font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif !important;*/
}

body.pushable>.pusher {
    /*background: rgb(247, 241, 242);*/
    background-color: #f8f8f8
}

.ui.vertical.masthead.segment.container{
    min-height: 30.3em;
}

.main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    /*box-shadow: none;*/
    transition:
        box-shadow 0.5s ease,
        padding 0.5s ease
        ;
}
.main.menu .ui.container{
    width: 1200px;
}

.shadow_main_menu{
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15)!important;
}

.top-nav{
    /*margin-top: 1em;*/
}

.top.menu{
    /*background-color: #ffd20e;*/
}

.masthead.segment {
    min-height: 350px;
    padding: 1em 0em;
}

.second-nav.menu {
    height: 3.4em;
    margin-bottom:0px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
        box-shadow 0.5s ease,
        padding 0.5s ease
        ;
    background-color: rgba(143, 199, 66, 0.66);
}

.second-nav.menu .center.menu .item{
    font-weight: normal;
    /*margin-top: 0.1em;*/
}

.hidden.menu {
    display: none;
}

.hidden{
    display: none;
}

#feature_homepage.masthead.segment {
    min-height: 70.3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*    min-height: 580px!important;
        padding: 1em 0em;*/
}

#feature_homepage .ui.container {
    width: 0;
    flex: 0 0 750px;
    margin: 0!important
}

#feature_homepage{
    position: relative; 
    /*      background-attachment: fixed;  
            background-position: center;
            background-size: cover;*/
    margin-top: 5.3em;

}

.cycle_bg_image{
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 5.3em;
    right: 0;
    /*bottom: 10em;*/
    height: 70.3vh;
}

.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3.5em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 5em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 2em 0em;
}

.ui.menu .toc.item {
    /*display: none;*/
}

/*@media only screen and (max-width: 1200px) {
    #search_input_top{
        width: 25em!important;
    }
}*/

@media only screen and (max-width: 1000px) {
    .main.menu{
        display: none;
    }

    #my_mobile_menu.ui.large.borderless.menu{
        display: flex !important;
    }

    span.wording_header{
        display: none;
    }

    .ui.tiny.borderless.second-nav.menu{
        margin-top: 5.1em!important;
    }

    #sub_main_menu.ui.fixed.menu {
        /*top: 4.3em!important;*/
        display: none!important;
    }

    #content_account{

    }

    #account_label_name{
        display: none;
    }

    #desktop_account_type_fields{
        display: none;
    }

    #mobile_account_type_fields{
        display: block;
    }
    #feature_homepage {
        margin-top: 4.5em!important;
    }
    .cycle_bg_image{
        top: 4em!important;
        height: 66.5vh!important;
        bottom: 7em!important;
    }
    #dropdown_menu_search_mobile{
        margin-left: -8em!important;
        margin-right: auto!important;
    }

    .masthead.segment {
        min-height: 400px!important;
    }

    #feature_homepage.masthead.segment {
        min-height: 400px!important;

    }

    #sidebar_mobile_menu_item, #remove_mobile_menu_item{
        display: none;
    }

    .left.menu .toc.item{
        display:flex!important;
    }

    .tiny.borderless.menu i.icon {
        margin-top: 0!important;
    }
}

@media only screen and (max-width: 767px) {
    /*    .ui.menu .item,
        .ui.menu .menu {
            display: none;
        }*/
    .ui.form .fields.fields_bottom_space {
        margin-bottom: 1em!important;
    }
    
    .field_bottom_space {
        margin-bottom: 0.5em!important;
    }
    
    #block_recap_desktop{
        display:none!important;
    }
    
    .block_recap_desktop{
        display:none!important;
    }
    
    #left_content_account{
        display: none;
    }

    #block_recap_mobile{
        display:block!important;
    }
    
    .block_recap_mobile{
        display:block!important;
    }
    .mobile_label.hidden{
        display: block!important;
    }

    .title_gpdeal.item{
        display: none!important;
    }
    .ui.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px!important;
    }

    #feature_homepage.masthead.segment {
        min-height: 350px!important;
        padding: 1em 0em;
    }
    .cycle_bg_image{
        top: 4em!important;
        height: 79.5vh!important;
        bottom: 7em!important;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    .second-nav.menu {
        display: none;
    }
    #search_input_top{
        display: none;
    }
    /*.fixed.menu{
        display: none;
    }
    .top.menu{
        display: none;
    }*/
    .ui.vertical.masthead.segment.container:not(.feature_homepage){
        margin-top: 3.5em;
    }

    #content_account {
        padding-top: 1em!important;
    }

    #feature_homepage {
        margin-top: 4em!important;
    }

    .top-nav{
        margin-top: 0em;
    }
    .main.menu{
        /*background-color: rgba(143, 199, 66, 0.66);*/
    }

    .ui.container.top-nav{
        /*display: none;*/
    }

    .ui.container{
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .left.menu .ui.dropdown.item{
        display:none!important;
    }

    .left.menu .toc.item{
        display:flex!important;
    }

    .float_button.ui.green.button{
        right: 1em!important;
        bottom: 1em!important;
    }
    /*    #select_type_package_help_content.ui.green.basic.label {
            right: 16em!important;
            top: 26.7em!important;
        }*/
    #sidebar_mobile_menu_item, #remove_mobile_menu_item{
        display: none;
    }

    #dropdown_menu_search_mobile{
        margin-left: -14em!important;
        margin-right: auto!important;
    }

    .ui.fluid.button{
        margin-bottom: 0.8em!important;
    }

    .column_signup_login_modal{
        margin-top: 2em;
    }

    .mobile_br{
        display: block!important;
    }

    #message_error, #message_loading, #message_success{
        top: 5em!important;
        right: 1em!important;
    }

    .dim_field_input{
        max-width: 5em!important;
    }

    .dim_field_time{
        max-width: 1.5em;
    }

    .center_time_symbol{
        margin-left: 50%!important;
    }

    .ui.form textarea[name="package_content"]{
        height: 1.5em!important;
    }
    .ui.top.attached.steps.select_transport_offers{
        display: none;
    }

    .ui.table.unstackable.evaluation_table td .sub-title-rating .right-sub-title-rating{
        margin-left: 1em;
    }
    .ui.table.evaluation_table td .ratint_image{
        margin-left: 0.3em!important;
    }
}

@media only screen and (max-width: 467px) {
    .cycle_bg_image{
        height: 79.5vh!important;
        padding: 1em 0em;
    }
    
    .inline.fields.package_type_fields .field{
        margin-bottom: 0.5em;
    }
    
    #package_type_fields_find_offers .field{
        margin-bottom: 1em;
    }
    
    #package_type_fields_find_offers span.span_label{
        margin-bottom: 1em;
    }
    
    #package_type_fields_find_shipments .field{
        margin-bottom: 1em;
    }
    
    #package_type_fields_find_shipments span.span_label{
        margin-bottom: 1em;
    }
    
    .checkbox_with_icones span.span_label{
        margin-bottom: 1em!important;
    }
    
    .checkbox_with_icones .field{
        margin-bottom: 1em!important;
    }
}

/*#block_recap_mobile{
        display:none!important;
    }*/
/*.ui.menu .item{
    font-size: 16px;
    font-weight: bold;
}

.ui.menu .active.item{
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}*/

.ui.tiny.image{
    width: 100px;
}

.ui.vertical.stripe p {
    font-size: 1em;
}

.doubling.stackable.grid.container{
    margin-top: 3em;
}

.ui.card{
    border-radius: 0;
}

.ui.button{
    border-radius: 0;
}

.ui.basic.button{
    border-radius: 0;
}

.ui.form input[type=tel], .ui.form input[type=email], .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=time], .ui.form select, .ui.form textarea{
    border-radius: 0!important;
}

.ui.tabular.menu .active.item {
    border-radius: 0!important;
    color: rgb(25, 131, 54);
}

.ui.tabular.menu .item {
    border-radius: 0!important;
    /*color: rgb(33, 186, 69);*/
}
.ui.selection.dropdown{
    border-radius: 0!important;
}

.ui.message{
    border-radius: 0!important;
}

.ui.message:not(.icon) .content{
    text-align: center;
}

#lang_select{
    /*padding-top: 2.3em;*/
}

#lang_select.ui.top.right.pointing.dropdown>.menu {
    /*top: 50%;*/
}

#card_pub_left{
    background-color: rgba(130, 218, 197, 0.34);
}

#content_terms_use.ui.fluid.card, #content_legal_notice.ui.fluid.card{
    box-shadow: none;
}

#content_legal_notice.ui.fluid.card p{
    font-size: 14px;
    font-weight: bold;
}

#search_input_top{
    /*width: 35em;*/
    height: 3em;
}

.content_transactions_card{
    box-shadow: none!important;
}

#content_search_carrier_form{
    box-shadow: none;
}

#content_search_packages_form{
    box-shadow: none;
}

.ui.content_packages_transports.fluid.card{
    box-shadow: none;
}

.ui.segment{
    border: none;
    border-radius: 0px;
}


.ui.content_steps_select_transport_offer{
    width: 60em;
}

.ui.fluid.card.signup_contenair{
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}

.ui.signup_contenair.segment{
    width: 60em;
    background-color: white;
}

.ui.signup_contenair.first_signup_contenair.segment{
    width: 55em;
}

.ui.signup_contenair .ui.card{
    margin-top: 0px;
}

.ui.signin_contenair.segment{
    width: 32em;
}

.ui.signin_contenair .ui.card{
    margin-top: 0px;
}

.ui.form.recap  .fields{
    /*padding-left: 8em;*/
}

.ui.bottom.attached.tab.segment{
    border-radius: 0px;
}

#fixed_menu_logo.logo{
    width: 4.5em;
}

.ui.tiny.borderless.second-nav.menu a{
    color: #198842;
}

.menu.signin_dropdown_menu{
    width: 16em;
}

.ui.sidebar.menu .item a {
    color: #272727;
}
.ui.sidebar.menu .item.active a {
    color: #198842;
}

.ui.inverted.sidebar.menu {
    background: #b5da82;
}

.ui.tiny.borderless.second-nav.menu{
    margin-top: 6.2899999975em;
}

.ui.container.top-nav .ui.dropdown.top.right.pointing.item .menu{
    top: 60px;
}

.ui.container.top-nav .ui.dropdown.item #main_dropdown_menu.menu{
    top: 86px;
    width: 70em;
    padding-left: 2em;
    padding-top: 2em;
    border-radius: 0;
}


.right.menu .ui.dropdown.top.right.pointing.item .menu {
    top: 47px;
}

.left.menu .ui.dropdown.top.left.pointing.item .menu{
    top: 43px;
}

.ui.menu .ui.dropdown .menu> a.item {
    font-size: 10.5pt!important;
}

.content.content_page p{
    font-size: 10.5pt;
}

.ui.styled.accordion .title {
    color: rgba(0,0,0,.87);
}

.ui.borderless.pointing.main.menu .left.menu .header.item:hover {
    background-color: white!important;
    /*color: #f7fdff;*/
}
.ui.large.borderless.top.fixed.menu .left.menu .header.item:hover {
    background-color: white!important;
    /*color: #f7fdff;*/
}

.ui.dropdown.top.pointing.item .menu .ui.item:hover{
    background-color: rgba(143, 199, 66, 0.66)!important;
    color: white!important;
}

.float_button.ui.green.button{
    bottom: 2em;
    cursor: pointer;
    position: fixed;
    right: 2em;
    z-index: 2;
    box-shadow: 0px 2px 10px rgba(0,0,0,.3), 0px 0px 1px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.25), inset 0px -1px 0px rgba(0,0,0,.15);
}

.ui.menu{
    margin: 0px;
}

canvas{
    height: 0px;
}

tlbs-flux{
    height: 0px;
}

.ui.menu{
    border: none;
    border-radius: 0px;
}

.ui.labeled.icon.button{
    padding-left: 1.3em!important;
}

.ui.floating.dropdown .menu{
    box-shadow: none!important;
    border-radius: 0px!important;
    top: 78px;
}

#lang_select.ui.floating.top.right.pointing.dropdown.labeled.icon.button.item .menu{
    top: 78px!important;
}

.ui.floating.top.right.pointing.dropdown.labeled.icon.button.item.lang_select .menu{
    top: 52px!important;
}

.ui.floating.top.right.pointing.dropdown.labeled.icon.button.item .menu .item:hover{
    background-color: rgba(143, 199, 66, 0.66)!important;
    color: white!important;
}

@media only screen and (min-width: 1200px){
    /*    #feature_homepage .ui.container {
            width: 850px;
            //margin-left: 10em !important;
            margin-left: auto !important;
            margin-right: auto !important;
            padding-top: 8em;
        }*/

}

.ui.action.input>.button{
    /*border-radius: 0px!important;*/
}

.ui.menu .item{
    color: #7d7d7d;
}

.ui.tabular.vertical.menu .item{
    color: rgba(0,0,0,.85);
}

#feature_homepage .ui.top.attached.tabular.menu .item:not(.active){
    background-color: #d4d4d5;
}

#feature_homepage .ui.top.attached.tabular.menu .item{
    font-size: 10pt;
    font-weight: bold;
    color: rgba(0,0,0,.85);

}

#feature_homepage .ui.top.attached.tabular.menu .item.active{
    font-size: 10pt;
    font-weight: bold!important;
    color: rgb(25, 131, 54);
}

.ui.action.input input{
    border-radius: 0;
}

.ui.action.input .ui.button:last-child{
    border-radius: 0;
}

#sub_main_menu.ui.fixed.menu{
    top: 5.32em;
    background-color: rgba(143, 199, 66, 0.98);
}
#sub_main_menu.ui.fixed.menu .ui.container{
    padding: 2em;
}

#sub_main_menu.ui.fixed.menu .ui.container #menu_grid_column_container{
    width: 100%;
}

#sub_main_menu.ui.fixed.menu .ui.container #menu_grid_column_container .column .ui.link.list .item{
    color: white;
    /*text-transform: uppercase;*/
    font-weight: 400;
    font-size: 10.5pt;
}

#remove_menu_item{
    color: white;
    background-color: rgba(143, 199, 66, 0.98);
}
#remove_mobile_menu_item{
    color: white;
    background-color: rgba(143, 199, 66, 0.98);
}

/*.red{
    color: red!important;
}*/

.ui.fluid.card .content.content_packages_transports{
    background-color: rgba(0,0,0,.00);
}

#show_transport_offer_infos .ui.fluid.card.transport_offer_card, #show_package_infos .ui.fluid.card.package_card{
    box-shadow: none;
}

.ui.card>.content>.header:not(.ui){
    font-weight: bold; 
    font-size: 11pt;
}

.inline.field{
    /*font-weight: bold!important;*/
    font-size: 10pt;
}


span.locality_name{
    color: #2185d0;
}

.ui.main.menu .item {
    font-size: 10.5pt;
    font-weight: 500;
}


#sitename.center.menu{
    margin-top: 0.2em;
}

.ui.form .field>label{
    font-size: 10pt;
    color: rgb(107, 106, 106);
    font-weight: 500;
}

.ui.form .inline.fields>label{
    font-size: 10pt;
    color: rgb(107, 106, 106);
    font-weight: 500;
}

/*.ui.menu .active.item {
    font-weight: normal!important; 
}*/

.ui.dividing.header{
    font-size: 10.5pt;
    color: black;
}

/*#login_modal.ui.small.modal{
    width: 400px;
    margin-left: -15px
}*/

.ui.modal>.close {
    color: #1b1c1d;
}

.ui.dimmer {
    background-color: rgba(255, 255, 255, 0.75);
}

.ui.modal>.close {
    top: 0.2rem;
    right: 0.2rem;
    font-size: 1em;
}

.ui.star.rating .active.icon {
    background: 0 0!important;
    color: #21ba45!important;
    text-shadow: 0 0px 0 #21ba45, 0px 0 0 #21ba45,0 0px 0 #21ba45,0px 0 0 #21ba45!important;
}

.ui.star.rating .icon.selected, .ui.star.rating .icon.active.selected {
    background: 0 0!important;
    color: #21ba45!important;
    text-shadow: 0 0px 0 #21ba45,0px 0 0 #21ba45,0 0px 0 #21ba45,0px 0 0 #21ba45!important;
}

.ui.form .fields .field .ui.star.rating {
    margin-left: 2em;
}

.sub-title-rating span{
    font-size: 9pt;
}

.sub-title-rating .left-sub-title-rating{
    margin-left: 1.9em;
}

.sub-title-rating .right-sub-title-rating{
    margin-left: 5em;
}

.ui.fluid.card .content a:not(.button):hover{
    text-decoration: underline;
}


/*#select_type_package_help_content.ui.green.basic.label {
    z-index: 2;
    border-radius: 0;
    position: absolute;
    font-weight: normal!important;
}

#deadline_transport_offer_help_content.ui.green.basic.label {
    z-index: 2;
    border-radius: 0;
    position: absolute;
    font-weight: normal!important;
    width: 15em;
}

#type_package_transport_offer_help_content.ui.green.basic.label {
    z-index: 2;
    border-radius: 0;
    position: absolute;
    font-weight: normal!important;
    width: 15em;
}*/

.ui.top.attached.tabular.menu .item{
    cursor: pointer;
}

.ui.input.icon .remove.icon{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.74);
}

.ui.input.icon>.remove.link.icon:hover{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.74);
}

.ui.icon.input>i.link.icon:hover{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.74);

}

/*.icon {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}*/

#profile_picture_img{
    cursor: pointer;
}

.column_signup_login_modal{
    margin-top: 5em;
}

.span_label{
    font-weight: 500;
    font-size: 10pt;
    color: rgb(107, 106, 106);
}

.span_value{
    color: black;
    font-size: 10pt;
}

/*.ui.form .inline.field>:first-child{
    margin: 0;
}*/

.ui.warning.message .header, .ui.success.message .header, .ui.error.message .header{
    font-size: 10pt;
}

#my_mobile_menu.menu .right.menu .item{
    font-size: 9pt;
}

#my_mobile_menu.menu .right.menu{
    margin-left: 0!important;
}

.help_label{
    font-weight: normal;
}

.required_infos{
    font-size: 9pt; 
}

.ui.form .fields .field{
    color: black;
}

.ui.form .field{
    color: black;
}

.promo_text_form{
    font-size: 9pt;
    font-style: italic;
}

.ui.attached.message .header{
    font-size: 10.5pt;
    /*color: rgb(25, 131, 54);*/
}

/*.mobile_label.hidden{
    display: none!important;
}*/

.label_terms_use{
    font-size: 9pt!important;
    /*text-align: justify;*/
}

.blue_identity{
    color: #4285f4;
    font-weight: bold;
    font-size: 10pt;
}

.red_identity{
    color: #db2828;
    font-weight: bold;
    font-size: 10pt;
}

.green_identity{
    color: #21ba45;
    font-weight: bold;
    font-size: 10pt;
}

.profile_name{
    color: #8ec641;
    font-weight: bold;
    font-size: 10pt;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 150px;
    background-color: #fff!important;
    color: #21BA45!important;
    border: 1px solid #21BA45;
    text-align: center;
    padding: 5px 0;
    border-radius: 0;
    font-size: 9pt;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext {
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;  /*At the bottom of the tooltip*/ 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #21BA45 transparent transparent transparent;
}

/*.tooltip .tooltiptext {
    top: 131%;
    left: 50%; 
    margin-left: -74px;  Use half of the width (120/2 = 60), to center the tooltip 
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;   At the top of the tooltip 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #21BA45 transparent;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.dim_field_input{
    max-width: 20em;
}

.dim_field_time{
    max-width: 1.5em;
}

.ui.styled.accordion{
    border-radius: 0;
}

.ui.form textarea[name="package_content"]{
    height: 3em;
}

.small_breadcumb, .small_breadcumb .section{
    font-size: 10pt;
}

.small_breadcumb i{
    font-size: 7pt;
}

.small_breadcumb i.icon{
    margin-top: 0.3em!important;
}

.tiny.borderless.menu i.icon{
    margin-top: 0.3em;
}
form{
    margin-bottom: 0;
}

#forgot_password_response_card{
    width: 80%;
    padding-left: 3em;
    padding-right: 3em;
}

#forgot_password_response_card .content .header{
    text-align: center;
}

#forgot_password_response_card .content{
    padding-bottom: 2em;
}

#forgot_password_response_card .content .description{
    margin-top: 2em;
    margin-bottom: 2em;

    background-color: white
}

#content_account{
    padding-top: 2em;
}

#left_content_account .vertical.menu{
    border:none;
    background-color: white;
}

#left_content_account .vertical.menu .item{
    border:none;
    font-weight: normal;
    border-bottom: 1px solid #dbdbdd;
}

#left_content_account .vertical.menu .item.active{
    background: #b5da82;
    color: rgb(25, 136, 66);
    font-weight: bold;
    border-radius: 0!important;
}

#right_content_account .ui.fluid.card.main_right_content{
    box-shadow: none;
}

.ui.card .extra.content .ui.right.pointing.dropdown.item a{
    color: rgb(0, 0, 0);
}

.ui.card .extra.content .ui.right.pointing.dropdown.item a:hover{
    text-decoration: none;
}

.ui.top.attached.steps.select_transport_offers{
    height: 3.6em;
    border-radius: 0;
    margin-bottom: 0.5em;
}

.ui.top.attached.steps.select_transport_offers .step {
    border-radius: 0;
}

.ui.top.attached.steps.select_transport_offers .step:after {
    border-color: transparent transparent transparent #FFF;
    border-width: 0px 35px 35px 0px;
}

.ui.top.attached.steps.select_transport_offers .step.active {
    cursor: auto;
    background: #b5da82;
    border: 1px solid #b5da82;
    /*border-right: 1px solid #b5da82;*/
}

.ui.top.attached.steps.select_transport_offers .step .title {
    font-weight: normal;
}

.ui.top.attached.steps.select_transport_offers .step.active .title {
    color: rgba(0,0,0,.87);
    font-weight: normal;
}


.ui.top.attached.steps.select_transport_offers .step.active:after {
    background: #b5da82;
}

.ui.attached.segment.select_transport_offers{
    border: none;
}

.ui.vertical.masthead.segment.container.review_confirm{
    padding-top: 2em;
}


.ui.fluid.card.transport_offer_card .image, .ui.fluid.card.package_card .image{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.ui.fluid.card.transport_offer_card .image .content_image_profilename{
    text-align: center;
    min-width: 10%;
}

.ui.fluid.card.package_card .image .content_image_profilename{
    text-align: center;
    min-width: 7em;
}

.ui.fluid.card.transport_offer_card .image .content_image, .ui.fluid.card.package_card .image .content_image{
    width: 100% !important;
    height: 100px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ui.fluid.card.transport_offer_card .content .ui.form.description .ui.grid .column, .ui.fluid.card.package_card .content .ui.form.description .ui.grid .column{
    text-align: center;
}



.ui.fluid.card.package_card .content .ui.form.description .ui.grid .column .inline.field>:first-child{
    margin: 0 0 0; 
}

.ui.fluid.card.transport_offer_card .content .ui.form.description .ui.grid .column .inline.field>:first-child{
    margin: 0 0 0; 
}

.ui.fluid.card.package_card .content .ui.form.description .field{
    margin-bottom: 0; 
}

.ui.fluid.card.transport_offer_card .content .ui.form.description .field{
    margin-bottom: 0; 
}

.ui.table.transport_offer_table td{
    padding: 0.5em;
}

.ui.table.package_table td{
    padding: 0.5em;
}

.header.search_result_header{
    text-transform: uppercase;
    font-weight: normal!important;
    font-size: 11pt!important;
}

.ui.table.evaluation_table td .ratint_image{
    margin-left: 1em;
}

.ui.table.evaluation_table td .answer_eval_question{
    margin-left: 0em;
}

.ui.table.evaluation_table td .sub-title-rating .left-sub-title-rating{
    margin-left: 0em;
}

.normal_font_weight{
    font-weight: normal;
}

.ui.vertical.footer.segment{
    background: #212425;
    color: white;
}

.ui.vertical.footer.segment a{
    color: white;
    /*text-transform: uppercase;*/
    /*font-size: 9pt;*/
}

#show_package_infos .five.wide.column .ui.fluid.card {
    box-shadow: none;
}

#show_package_infos .five.wide.column .ui.fluid.card .content .ui.fluid.button, #show_transport_offer_infos .five.wide.column .ui.fluid.card .content .ui.fluid.button {
    text-align: left;
    margin-bottom: 1em;
    /*border-radius: .28571429rem;*/
}

#show_package_infos .five.wide.column .ui.fluid.card .content .ui.fluid.button:last-child, #show_transport_offer_infos .five.wide.column .ui.fluid.card .content .ui.fluid.button:last-child {
    margin-bottom: 0;
}

#show_package_infos, #edit_package_infos, #show_transport_offer_infos, #edit_transport_offer_infos{
    margin-top: 0px!important;
    padding-top: 0px!important;
}


#show_transport_offer_infos .five.wide.column .ui.fluid.card {
    box-shadow: none;
}

/*#show_transport_offer_infos .five.wide.column .ui.fluid.card .content .ui.fluid.button {
    text-align: left;
    margin-bottom: 1em;
    border-radius: .28571429rem;
}*/

.content_without_white{
    /*background-color: #f7f1f2!important;*/
    background-color: #f8f8f8!important;
}

.ui.table{
    border-radius: 0px;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header, .header {
    color: rgba(56, 53, 53, 0.85);
}

.right_content_unsatisfied_shipments .content, .right_content_unsatisfied_shipments .package_card{
    border-bottom: 1px solid rgba(34,36,38,.1)!important;
}

.ui.menu.main .item>.button {
    font-size: 10pt;
}

#search_transport_offers_form .field .ui.checkbox label .big.icon{
    margin-top: -15px;
}

#search_unsatisfied_packages_form .field .ui.checkbox label .big.icon{
    margin-top: -15px;
}

.ui.form .field .ui.checkbox label .big.icon{
    margin-top: -15px;
}

.ui.checkbox label .insurance_logo{
    margin-top: -10px;
}

.how_it_works .header{
    color: #4183C4!important
}